rule-history-details {
    ion-col{
        padding: unset !important;
        margin:unset !important;
    }

    ion-item{
        margin:unset !important;
    }

    button{
        margin:unset !important;
    }

    ion-label{
        margin:unset !important;
    }
}
