rule-history {
    ion-spinner{
        margin: auto;
        left: 0;
        right: 0;
    }

    ion-card{
        margin: unset !important;
        width: unset !important;
        -webkit-box-shadow: unset !important;
        box-shadow: unset !important;
    }
}
